.container_bh {
  .main {
    width: 1200px;
    margin: 0 auto;
    color: white;
    .title {
      text-align: center;
      color: orange;
      margin-top: 20px;
      font-size: 25px;
      font-weight: bold;
    }
    .form_list {
      margin: 10px 50px;
      border: 1px solid gray;
      box-shadow: 1px 1px 5px 0 gray;
      .row_1 {
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 20px 0px 20px 20px;
      }
      .row_2 {
        margin: 0 20px;
        padding-bottom: 20px;
        display: grid;
        grid-template-columns: 10% 30% 10% 20% 10% 20%;
        .text {
          text-align: center;
        }
      }
    }
  }
}
