.modalx {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;

  &-form {
    margin: auto;
    width: 360px;

    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    .btnX {
      float: right;
      font-size: 21px;
      border: none;
      background: #ffa50033;
      color: orange;
      height: 30px;
      width: 30px;
      margin: 5px;
      border-radius: 2px;
      cursor: pointer;
      &:hover {
        box-shadow: 0 0 5px #ffd000b0;
      }
      i {
        margin: auto;
      }
    }
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .title {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: orange;
        padding-bottom: 20px;
      }
      .content {
        color: black;
        font-weight: 500;
        width: 250px;
        text-align: center;
        padding-bottom: 20px;
      }
      .stars {
        padding-top: 20px;
        display: flex;
        flex-direction: row;
      }
      .textarea {
        border: 1px solid #a9a9a9;
        border-radius: 5px;
        padding: 10px;
        margin: 20px 0;
        min-height: 100px;
        width: 300px;
        outline: none;
        border: 1px solid #ffa5004d;
      }
      .button {
        margin: 0 auto 50px;

        width: 200px;
        height: 38px;
        font-size: 18px;
        display: block;
        background: orange;
        color: whitesmoke;
        font-weight: bold;
        border: none;
        border-radius: 10px;
        border: 2px solid orange;
        cursor: pointer;
        &:hover {
          box-shadow: 0 0 8px orange;
          border: 2px solid whitesmoke;
        }
      }
    }
  }
}
