.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;

  &-form {
    margin: auto;
    width: 360px;
    height: 510px;
    background-color: white;
    border-radius: 10px;
    .btnX {
      float: right;
      font-size: 21px;
      border: none;
      background: rgb(255 165 0 / 6%);
      color: orange;
      height: 30px;
      width: 30px;
      margin: 5px;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        box-shadow: 0 0 5px #ffd000b0;
      }
      i {
        margin: auto;
      }
    }
    .txt {
      text-align: center;
      color: gray;
    }
    .login_icon {
      display: flex;
      gap: 15px;
      width: 255px;
      margin: 0 auto;
      margin-top: 15px;
      text-align: center;
      font-size: 16px;
      color: orange;
      i {
        border: 2px solid orange;
        width: 120px;
        height: auto;
        padding: 5px;
        background-color: whitesmoke;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: white;
          box-shadow: 0 0 8px orange;
        }
      }
    }
  }
}
