.item_Input {
  display: grid;
  grid-template-columns: 1fr 5fr;
  column-gap: 8px;
  .label {
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    height: 30px;
    line-height: 60px;
    color: orange;
  }
  .txt_input {
    margin-top: 15px;
    font-size: 18px;
    height: 30px;
    outline: none;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    border-bottom: 2px solid orange;
  }
}
