.item_Input {
  display: flex;
  column-gap: 5px;
  .label {
    width: 210px;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    height: 30px;
    line-height: 30px;
    color: orange;
  }
  .txt_input {
    height: 30px;
    outline: none;
    border: none;
    text-decoration: none;
    border-radius: 5px;
  }
}
